<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932649317088-lt7r1v9io98pndhmf7v27svkrhrlrik6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932649317088-lt7r1v9io98pndhmf7v27svkrhrlrik6</string>
	<key>API_KEY</key>
	<string>AIzaSyCv9Zm4OMk3pElwHa1_PQ-zgXf6ZEJ4DHs</string>
	<key>GCM_SENDER_ID</key>
	<string>932649317088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karyasa.notes</string>
	<key>PROJECT_ID</key>
	<string>notapp-multi</string>
	<key>STORAGE_BUCKET</key>
	<string>notapp-multi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932649317088:ios:74b2d228384580a591d685</string>
</dict>
</plist>